<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/wiki</param-value>
    </context-param>
    <context-param>
        <param-name>dbUserName</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>sesame</param-value>
    </context-param>
    <servlet>
        <servlet-name>ProjectNameServlet</servlet-name>
        <servlet-class>servlets.ProjectServlet</servlet-class>
        <init-param>
            <param-name>projectFilePath</param-name>
            <param-value>/WEB-INF/projects.txt</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectDetailServlet</servlet-name>
        <servlet-class>servlets.ProjectDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjectNameServlet</servlet-name>
        <url-pattern>/displayProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectDetailServlet</servlet-name>
        <url-pattern>/projectDetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            login.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
