/* 
    Document   : css
    Created on : Apr 5, 2012, 11:22:08 AM
    Author     : Zhengyi
    Description:
        Purpose of the stylesheet follows.
*/

body {
    text-align: center;
    margin: 10px 0 0 0;
    background-color: white;
    font-family: OCR A Extended;
    color: white;
}
.clear {
    clear:both;
}
/*===========================================*/
#options {
    font-size: 12px;
    float:right;
    margin-right: 20px;
    list-style: none;
    text-align: right;
    text-shadow: 1px 1px 2px white;
}
#options a:link, a:visited {
    color:white;
    text-decoration: none;
}
#options a:hover {
    text-shadow: 2px 2px 5px black;
}
#options li {
    padding-bottom: 10px;
}

/*===========================================*/
#footer {
    background: url(images/footer.png) repeat-x top;
    height: 50px;
    width:100%;
    text-align: center;
    padding-top: 10px;
    text-shadow: 2px 2px 5px #231F19;
}
/*===========================================*/
#wrapper {
    width: 1024px;
    text-align: left;
    margin: 0 auto;
    background: black;
}

/*===========================================*/
#header {
    width: 1000px;
    padding-left: 24px;
    padding-top: 5px;
    height: 100px;
    border-bottom: 2px black;
    background: url(images/header.png) repeat-x top;
}

/*===========================================*/
#logo {
    background: url(images/title.png) no-repeat;
    height: 50px;
    width: 308px;
    margin-top: 20px;
    float: left;
}

/*===========================================*/
#login {
    float: right;
}

/*===========================================*/
#emailAddr {
    background: url(images/emailAddr.png) no-repeat;
    width: 100px;
    height: 22px;

}

/*===========================================*/
#password {
    background: url(images/password.png) no-repeat;
    width: 64px;
    height: 22px;
}

/*===========================================*/
#loginButton {
    width: 48px;
    height: 24px;
    font-size: 0;
    border: none;
    float: left;
    margin-left: 20px;
    background: url(images/loginButton.png) top;
}
#loginButton:hover{
    background-position-y: 24px;
    cursor: pointer;
}

/*===========================================*/
#registerButton {
    display: block;
    width: 70px;
    height: 24px;
    font-size: 0;
    border: none;
    float: left;
    margin-left: 20px;
    background: url(images/registerButton.png) top;
}
#registerButton:hover {
    background-position-y: 24px;
}

/*===========================================*/
#nav {
    background: url(images/navBg.png) repeat-x top;
    height:30px;
    list-style: none;
    margin:0 auto;
}
#nav li {
    float: left;
    margin-right: 10px;
    padding: 5px 0 0 15px;
}
#nav a {
    float: left;
}
#nav a.selected {
    background-position-y: 24px;
}

/*===========================================*/
#homeButton {
    background: url(images/homeButton.png) top; 
    height: 24px; 
    width: 42px; 
    font-size: 0;
}
#homeButton:hover {
    background-position-y: 24px;
}

/*===========================================*/
#projectButton {
    background: url(images/projectButton.png) top;
    height: 24px;
    width: 63px;
    font-size: 0;
}

#projectButton:hover {
    background-position-y: 24px;
}

/*===========================================*/
#requestButton {
    background: url(images/requestButton.png) top;
    height: 24px;
    width: 70px;
    font-size: 0;
}
#requestButton:hover {
    background-position-y: 24px;
}

/*===========================================*/
#uploadButton {
    background: url(images/uploadButton.png) top;
    height: 24px;
    width: 56px;
    font-size: 0;
}
#uploadButton:hover {
    background-position-y: 24px;
}
/*===========================================*/
#leftContent {
    float: left;
}

#leftContent a {
    text-decoration: none;
}
/*===========================================*/
#rightContent {
    text-align: center;
    margin: 20px;
    float:right;
}
#title {
    text-align: center;
    width: 100%;
    height: 20px;
}
/*===========================================*/
#projectList {
    width: 500px;
    padding: 20px;
}

#projectList a:hover {
    text-shadow: 2px 2px 2px azure;
}

#projectDetail {
    background: dimgray;
    margin-bottom: 20px;
}

.title {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid red;
    text-align: left;
    background: url(images/projectTitleBg.png) repeat-x top;
}
.title a {
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.date {
    margin-top: 4px;
    float: right;
}
.description {
    color: #231F19;
}
.listFooter, .listFooter a {
    padding-bottom: 8px;
    font-size: 13px;
    text-decoration: none;
}
/*===========================================*/
#createProject {
    margin: 20px;
    padding: 10px;
    background: dimgray;
    border: solid 1px red;
    text-shadow: 1px 1px 3px white;
}
textArea#name, textArea#description {
    resize: none;
}
/*===========================================*/
#submitProject {
    background: url(images/createButton.png) top;
    font-size: 0;
    width: 56px;
    height: 24px;
    border:0;
}

#submitProject:hover {
    background-position-y: 24px;
    cursor: pointer;
}
#submitProject:disabled {
    background-position-y: 24px;
    cursor: auto;
}
/*===========================================*/
#register {
    margin: 20px;
    background: dimgray;
    border: solid 1px red;
    text-shadow: 1px 1px 3px white;
}